@font-face {
  font-family: helveticaneue;
  src: url("../font/helveticaneue.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: helveticaneue;
  color: #fff; }

body {
  height: 100vh;
  overflow: hidden; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000;
  display: block; }

.div-toggle-checkbox {
  height: 26px;
  /* Rounded sliders */ }
  .div-toggle-checkbox .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px; }
  .div-toggle-checkbox .switch input {
    display: none; }
  .div-toggle-checkbox .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  .div-toggle-checkbox .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .div-toggle-checkbox input:checked + .slider {
    background-color: #2196F3; }
  .div-toggle-checkbox input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; }
  .div-toggle-checkbox input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px); }
  .div-toggle-checkbox .slider.round {
    border-radius: 34px; }
  .div-toggle-checkbox .slider.round:before {
    border-radius: 50%; }

.center-align {
  text-align: center; }

.clear-both {
  clear: both; }

header {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 0; }
  header img {
    max-height: 16px;
    width: auto; }
  header .div-wifi {
    position: absolute;
    left: 20px;
    top: 0;
    width: 40px; }
  header .div-battery {
    position: absolute;
    right: 10px;
    top: 0; }
    header .div-battery p {
      float: left;
      margin: 5px 5px 0 0; }
  header .div-time {
    text-align: center;
    width: 100%;
    line-height: 1.6; }

.wrap-content {
  position: relative; }
  .wrap-content .div-background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: -1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; }

.taskbar {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  text-align: center;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden; }
  .taskbar .center-align .div-icon-taskbar {
    width: 110px;
    display: inline-block; }
    .taskbar .center-align .div-icon-taskbar img {
      height: 30px;
      margin-top: 5px; }
  .taskbar .div-blur {
    width: 100%;
    height: 100vh;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    filter: blur(35px); }

.div-control-accesories .div-tittle-control p {
  color: #000;
  display: inline-block;
  width: auto; }

.div-bgc-opa {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none; }

.div-control-tivi {
  position: absolute;
  top: 0;
  left: -100%;
  height: 480px;
  z-index: 3; }
  .div-control-tivi .div-control-number {
    float: left;
    width: 310px;
    height: 478px;
    background-color: #fff;
    border-radius: 10px;
    margin: 1px; }
    .div-control-tivi .div-control-number .div-total-number {
      margin: 40px auto;
      width: 270px;
      height: 400px; }
      .div-control-tivi .div-control-number .div-total-number .div-number {
        border: 1px solid #1f1f1f;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        padding: 14px 20px;
        color: #000;
        float: left;
        margin: 17px;
        font-size: 20px;
        font-weight: bold; }
        .div-control-tivi .div-control-number .div-total-number .div-number.number0 {
          margin-left: 105px; }
  .div-control-tivi .div-control-menu {
    padding: 10px 15px;
    float: left;
    width: 310px;
    height: 478px;
    background-color: #fff;
    border-radius: 10px;
    margin: 1px; }
    .div-control-tivi .div-control-menu .div-tittle-tivi {
      width: 100%;
      padding: 10px 0; }
      .div-control-tivi .div-control-menu .div-tittle-tivi .div-name-tivi {
        float: left; }
        .div-control-tivi .div-control-menu .div-tittle-tivi .div-name-tivi p {
          color: #000;
          font-size: 18px; }
      .div-control-tivi .div-control-menu .div-tittle-tivi .div-on-off-tivi {
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 8px;
        background-color: #df0000; }
        .div-control-tivi .div-control-menu .div-tittle-tivi .div-on-off-tivi i {
          color: #fff;
          font-size: 24px; }
    .div-control-tivi .div-control-menu .div-large-circle {
      width: 200px;
      height: 200px;
      margin: 10px auto;
      border-radius: 50%;
      border: 1px solid #1f1f1f;
      position: relative; }
      .div-control-tivi .div-control-menu .div-large-circle .div-small-circle {
        width: 120px;
        height: 120px;
        margin: 40px auto;
        border-radius: 50%;
        border: 1px solid #1f1f1f; }
      .div-control-tivi .div-control-menu .div-large-circle i {
        padding: 5px;
        color: #000;
        font-size: 18px;
        position: absolute; }
        .div-control-tivi .div-control-menu .div-large-circle i.fa-chevron-up {
          top: 8px;
          left: 44%; }
        .div-control-tivi .div-control-menu .div-large-circle i.fa-chevron-down {
          bottom: 8px;
          left: 44%; }
        .div-control-tivi .div-control-menu .div-large-circle i.fa-chevron-left {
          left: 10px;
          top: 44%; }
        .div-control-tivi .div-control-menu .div-large-circle i.fa-chevron-right {
          right: 10px;
          top: 44%; }
    .div-control-tivi .div-control-menu .div-some-control {
      width: 210px;
      height: 130px;
      margin: 20px auto;
      position: relative; }
      .div-control-tivi .div-control-menu .div-some-control .div-back-control {
        border: 1px solid #1f1f1f;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        padding: 18px 10px;
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0; }
      .div-control-tivi .div-control-menu .div-some-control .div-menu-control {
        border: 1px solid #1f1f1f;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        padding: 18px 8px;
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        left: 0; }
      .div-control-tivi .div-control-menu .div-some-control .div-updown {
        border: 1px solid #1f1f1f;
        width: 55px;
        height: 130px;
        position: absolute;
        border-radius: 60px; }
        .div-control-tivi .div-control-menu .div-some-control .div-updown .div-middle {
          color: #000;
          text-transform: uppercase;
          text-align: center;
          width: 55px;
          position: absolute;
          top: 55px; }
        .div-control-tivi .div-control-menu .div-some-control .div-updown i {
          font-size: 18px;
          color: #000;
          position: absolute;
          width: 55px;
          height: 40px;
          left: -2px;
          text-align: center;
          padding: 10px 0; }
          .div-control-tivi .div-control-menu .div-some-control .div-updown i.fa-chevron-up {
            top: 0; }
          .div-control-tivi .div-control-menu .div-some-control .div-updown i.fa-chevron-down {
            bottom: 0; }
        .div-control-tivi .div-control-menu .div-some-control .div-updown.updown-volume {
          top: 0;
          left: 75px; }
        .div-control-tivi .div-control-menu .div-some-control .div-updown.updown-prog {
          top: 0;
          right: 0; }

.div-control-accesories .tittle-accsesories p {
  color: #808080;
  font-size: 18px;
  font-weight: bold; }
.div-control-accesories .tittle-accsesories .name-acces-control {
  float: left; }
.div-control-accesories .tittle-accsesories .p-close-acces-control {
  float: right; }
.div-control-accesories.div-control-lamp {
  background: #fff;
  position: absolute;
  bottom: -100%;
  left: 0;
  height: auto;
  width: 100%;
  padding: 20px;
  z-index: 3; }
  .div-control-accesories.div-control-lamp .div-name-accesories {
    margin: 15px 0; }
    .div-control-accesories.div-control-lamp .div-name-accesories img {
      margin-right: 10px; }
    .div-control-accesories.div-control-lamp .div-name-accesories p {
      float: left;
      line-height: 1.6;
      font-weight: bold;
      font-size: 19px;
      color: #000; }
    .div-control-accesories.div-control-lamp .div-name-accesories .div-toggle-checkbox {
      float: right;
      margin-top: 5px; }
  .div-control-accesories.div-control-lamp .content-bright-lamp {
    margin-bottom: 10px; }
    .div-control-accesories.div-control-lamp .content-bright-lamp input[type=range] {
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 75%;
      float: left;
      margin: 20px 0 10px 15px; }
      .div-control-accesories.div-control-lamp .content-bright-lamp input[type=range]:focus {
        outline: none; }
      .div-control-accesories.div-control-lamp .content-bright-lamp input[type=range]::-webkit-slider-runnable-track {
        animate: 0.2s;
        width: 100%;
        height: 1px;
        background-color: #ccc; }
      .div-control-accesories.div-control-lamp .content-bright-lamp input[type=range]::-webkit-slider-thumb {
        border: 1px solid #ccc;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -15px; }
      .div-control-accesories.div-control-lamp .content-bright-lamp input[type=range]::-moz-range-track {
        width: 100%;
        height: 1px;
        background-color: #ccc; }
      .div-control-accesories.div-control-lamp .content-bright-lamp input[type=range]::-moz-range-thumb {
        border: 1px solid #ccc;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -15px; }
    .div-control-accesories.div-control-lamp .content-bright-lamp .div-percent-bright {
      float: right;
      color: #333;
      font-size: 16px;
      margin-top: 5px; }

/*# sourceMappingURL=main.css.map */
