@font-face {
  font-family: helveticaneue;
  src: url("../font/helveticaneue.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: helveticaneue;
  color: #fff; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000;
  display: block; }

.center-align {
  text-align: center; }

.clear-both {
  clear: both; }

header {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 0; }
  header img {
    max-height: 19px;
    width: auto; }
  header .div-wifi {
    position: absolute;
    left: 20px;
    top: 0;
    width: 40px; }
  header .div-battery {
    position: absolute;
    right: 10px;
    top: 0; }
    header .div-battery p {
      float: left;
      margin: 5px 5px 0 0; }
  header .div-time {
    text-align: center;
    width: 100%; }

.wrap-content {
  position: relative; }
  .wrap-content .div-background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: -1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; }

.taskbar {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  text-align: center;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden; }
  .taskbar .center-align .div-icon-taskbar {
    width: 110px;
    display: inline-block; }
    .taskbar .center-align .div-icon-taskbar img {
      height: 30px;
      margin-top: 5px; }
  .taskbar .div-blur {
    width: 100%;
    height: 100vh;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 20%;
    padding-top: 20%;
    filter: blur(35px); }

.wrap-content.wrap-content-home {
  padding: 0 25px; }
  .wrap-content.wrap-content-home .div-welcom-home {
    max-width: 470px;
    height: auto;
    margin-top: 45px; }
    .wrap-content.wrap-content-home .div-welcom-home .h3-welcom {
      font-size: 30px;
      margin-bottom: 10px; }
    .wrap-content.wrap-content-home .div-welcom-home p {
      font-size: 15px; }
      .wrap-content.wrap-content-home .div-welcom-home p.p-tittle {
        margin-bottom: 5px; }
  .wrap-content.wrap-content-home .div-the-weather {
    position: absolute;
    top: 20px;
    right: 25px; }
    .wrap-content.wrap-content-home .div-the-weather .deg-current {
      float: left;
      font-size: 60px;
      padding: 20px 5px 0 0; }
    .wrap-content.wrap-content-home .div-the-weather .div-img-weather {
      float: left;
      margin: 0 25px 0 0; }
      .wrap-content.wrap-content-home .div-the-weather .div-img-weather img {
        height: 120px;
        width: auto; }
    .wrap-content.wrap-content-home .div-the-weather .deg-low-hight {
      padding: 28px 0 0 0;
      float: left; }
      .wrap-content.wrap-content-home .div-the-weather .deg-low-hight p {
        font-size: 26px; }
      .wrap-content.wrap-content-home .div-the-weather .deg-low-hight span {
        font-size: 18px; }
  .wrap-content.wrap-content-home .div-control-conditition {
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: 15px;
    right: 25px; }
    .wrap-content.wrap-content-home .div-control-conditition .div-per-1 {
      width: 280px;
      margin: 0 auto;
      position: absolute; }
    .wrap-content.wrap-content-home .div-control-conditition .div-per-2 {
      width: 280px;
      position: absolute;
      top: 0; }
    .wrap-content.wrap-content-home .div-control-conditition .div-circle-point {
      width: 230px;
      height: 230px;
      border-radius: 50%;
      position: absolute;
      left: 25px;
      top: 5px;
      transform: rotate(0deg); }
      .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .reg-point {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30px;
        margin-top: -15px;
        width: 50%;
        transform-origin: left center;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center; }
        .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .reg-point .the-point {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #fff;
          margin: 0 3px 0 auto;
          cursor: move; }
      .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .info-condition {
        text-align: center;
        padding-top: 40px; }
        .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .info-condition p {
          font-size: 15px;
          margin-top: 5px; }
          .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .info-condition p.p-room {
            font-size: 17px;
            font-weight: bold; }
        .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .info-condition .h4-deg-condition {
          font-size: 40px;
          padding-left: 5px; }
        .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .info-condition .div-line {
          margin: 5px auto 0;
          width: 70px;
          background-color: #fff;
          height: 2px; }
        .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .info-condition img {
          text-align: center;
          width: 50px;
          height: auto;
          margin-top: 5px; }
  .wrap-content.wrap-content-home .div-favorite-scences {
    margin-top: 15px;
    max-width: 335px; }
    .wrap-content.wrap-content-home .div-favorite-scences h4 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px; }
    .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences {
      white-space: nowrap;
      overflow: auto; }
      .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences {
        display: inline-block;
        text-align: center;
        width: 80px; }
        .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences img {
          width: 50px;
          height: 50px; }
          .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences img.off {
            display: inline-block; }
          .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences img.on {
            display: none; }
        .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences p {
          margin-top: 3px;
          white-space: normal;
          width: 80px;
          height: 18px;
          overflow: hidden; }
        .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences.active img.on {
          display: inline-block; }
        .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences.active img.off {
          display: none; }
        .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences.active p {
          color: #ff863a; }
  .wrap-content.wrap-content-home .div-favorite-accessories {
    margin-top: 15px;
    height: auto; }
    .wrap-content.wrap-content-home .div-favorite-accessories h4 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px; }
    .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories {
      white-space: nowrap;
      width: 395px;
      height: auto;
      overflow: auto; }
      .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories {
        margin-right: 5px;
        display: inline-block;
        width: 90px;
        height: 90px;
        background-color: rgba(72, 73, 73, 0.6);
        border-radius: 6px;
        text-align: center;
        padding: 5px 0 0 0; }
        .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories img {
          width: auto;
          height: 40px;
          margin: 0 auto; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories img.on {
            display: none; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories img.off {
            display: block; }
        .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories p {
          margin-bottom: 3px;
          padding: 0 5px;
          font-weight: bold; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories p.p-off {
            display: block;
            color: #343434; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories p.p-on {
            display: none;
            color: #1393ff; }
        .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories h6 {
          font-size: 15px;
          color: #343434; }
        .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories.active {
          background-color: #fff; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories.active img.off {
            display: none; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories.active img.on {
            display: block; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories.active p.p-off {
            display: none; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories.active p.p-on {
            display: block; }

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
  transform: rotate(225deg); }

.circle {
  stroke: #6b6b6b;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round; }
  .circle.circle-2 {
    stroke: #3dbcff; }

.wrap-content .div-backgroud-room {
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1; }
.wrap-content .div-content-room {
  display: block;
  width: 100%;
  height: 400px;
  margin-top: 40px;
  overflow: hidden; }
  .wrap-content .div-content-room .div-empty-room {
    padding-top: 70px;
    margin: 0 auto;
    width: 500px;
    height: 100%;
    text-align: center; }
    .wrap-content .div-content-room .div-empty-room p {
      font-size: 24px;
      margin: 10px 0; }
    .wrap-content .div-content-room .div-empty-room img {
      height: 150px;
      width: auto; }
    .wrap-content .div-content-room .div-empty-room a {
      display: inline-block; }
      .wrap-content .div-content-room .div-empty-room a i {
        font-size: 23px;
        margin: 0 7px; }
  .wrap-content .div-content-room .div-title-room-config {
    width: 100%;
    height: 40px;
    position: relative;
    text-align: center; }
    .wrap-content .div-content-room .div-title-room-config p {
      font-size: 28px;
      line-height: 1.6; }
    .wrap-content .div-content-room .div-title-room-config .tittle-left {
      position: absolute;
      top: 5px;
      left: 30px; }
      .wrap-content .div-content-room .div-title-room-config .tittle-left img {
        width: 35px;
        height: 35px; }
    .wrap-content .div-content-room .div-title-room-config .tittle-right {
      position: absolute;
      top: 5px;
      right: 30px; }
      .wrap-content .div-content-room .div-title-room-config .tittle-right img {
        width: 35px;
        height: 35px; }
  .wrap-content .div-content-room .div-some-room {
    height: 330px;
    overflow: auto;
    margin-top: 15px;
    padding: 0 25px; }
    .wrap-content .div-content-room .div-some-room .item-room {
      padding-top: 10px;
      width: 130px;
      height: 130px;
      background-color: #fff;
      border-radius: 10px;
      float: left;
      margin: 10px;
      text-align: center; }
      .wrap-content .div-content-room .div-some-room .item-room img {
        width: 75px;
        height: auto; }
      .wrap-content .div-content-room .div-some-room .item-room p {
        color: #000;
        margin-top: 5px;
        font-size: 16px;
        font-weight: bold;
        padding: 0 5px; }
  .wrap-content .div-content-room .div-room-config {
    padding: 0 25px;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .wrap-content .div-content-room .div-room-config .config-left {
      color: #000;
      padding: 15px;
      margin-top: 15px;
      float: left;
      width: 190px;
      height: 320px;
      background-color: #fff;
      border-radius: 10px;
      text-align: center; }
      .wrap-content .div-content-room .div-room-config .config-left input[type='text'] {
        border: 0;
        outline: none;
        border-bottom: 2px solid #356be7;
        padding: 5px;
        width: 100%;
        color: #000;
        font-size: 17px; }
      .wrap-content .div-content-room .div-room-config .config-left img {
        width: 120px;
        height: auto;
        margin: 50px 0; }
      .wrap-content .div-content-room .div-room-config .config-left i {
        color: #515151;
        font-size: 18px; }
    .wrap-content .div-content-room .div-room-config .config-right {
      padding: 15px;
      margin-top: 15px;
      margin-left: 15px;
      float: left;
      width: 545px;
      height: 320px;
      background-color: #fff;
      border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
