.wrap-content{
  .content-setting{
    width: 100%;
    height: 410px;
    margin-top: 30px;
    .the-setting{
      height: 410px;
      float: left;
      background-color: #ededed;
      border-top-right-radius: 7px;
      border-top-left-radius: 7px;
      margin-top: 0;
      &.setting-left{
        width: 25%;
        border-right: 0.5px solid #343434;
        ul{
          overflow: auto;
          height: 370px;
          padding-bottom: 1px;
          li{
            padding: 7px;
            img{
              width: 32px;
              height: 32px;
              float: left;
            }
            p{
              float: left;
              max-width: 155px;
              margin:5px 0 5px 10px;
              color: #000;
              font-weight: bold;
              font-size: 15px;
              max-height: 20px;
              overflow: hidden;
            }
            &.active{
              background-color: #059bff;
              p{
                color: #fff;
              }
            }
          }
        }
      }
      &.setting-right{
        position: relative;
        width: 75%;
        .div-content-setting-right{
          position: relative;
          height: 370px;
          .div-item{
            height: 350px;
            overflow: auto;
            padding: 15px 15px 0;
            display: none;
            p.p-main-right{
              font-size: 16px;
              font-weight: bold;
              color: #3a3a3a;
            }
            p.p-main-right-tittle{
              font-size: 16px;
              color: #000;
              font-weight: bold;
            }
            .div-main-background{
              border-radius: 8px;
              background-color: #fff;
              width: 100%;
              padding: 10px 15px;
              border: 1px solid #ccc;
              &.setting-list-group{
                .item-group{
                  margin-right: -15px;
                  p.p-title-group{
                    padding: 5px 0 10px;
                    &.active{
                      color: $blue-color;
                      .fa-chevron-down{
                        display: inline-block;
                      }
                      .fa-chevron-right{
                        display: none;
                      }
                    }
                    i{
                      color: #000;
                      &.fa-chevron-down{
                        display: none;
                      }
                    }
                  }
                  ul{
                    display: none;
                    margin-bottom: 10px;
                    li{
                      overflow: hidden;
                      border-radius: 4px;
                      padding: 4px 3px 5px;
                      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
                      display: inline-block;
                      width: 90px;
                      height: 80px;
                      margin: 6px 16px 6px 1px;
                      text-align: center;
                      img{
                        width: 35px;
                        height: 35px;
                      }
                      p{
                        max-height: 32px;
                        font-size: 14px;
                        color: #000;
                        display: block;
                        overflow: hidden;
                      }
                      &.active{
                        box-shadow: 0 0 2px 2px rgba(0, 16, 255, 0.6);
                      }

                    }
                  }
                  .edit-group{
                    text-align: center;
                    color: #e80000;
                    border-radius: 5px;
                    padding: 8px 10px;
                    border: 2px solid #e80000;
                    font-size: 17px;
                    width: 70%;
                    margin: 7px auto;
                  }
                }
              }
              &.setting-list-switch{
                &:first-child{
                  margin-bottom: 10px;
                }
                ul{
                  li{
                    img{
                      float: left;
                    }
                    p.p-name-switch{
                      float: left;
                    }
                  }
                }
              }
            }
            &.active{
              display: block;
            }
            .item-wifi-setting{
              .div-on-off-wifi{
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
                background-color: #fff;
                width: 100%;
                padding: 10px 15px;
                border: 1px solid #ccc;
                p{
                  color: #000;
                  float: left;
                  font-size: 16px;
                  font-weight: bold;
                  line-height: 1.6;
                }
                .div-toggle-checkbox{
                  float: right;
                }
              }
              .div-choose-network{
                &>p{
                  margin: 15px 10px 10px;
                }
                ul{
                  height: auto;
                  background: #fff;
                  border-radius: 8px;
                  border: 1px solid #ccc;
                  li.item-network{
                    position: relative;
                    padding: 10px 20px 10px 25px;
                    border-top: 1px solid #999999;
                    img.check-icon{
                      position: absolute;
                      top: 11px;
                      left: 7px;
                      width: 16px;
                      height: 16px;
                      display: none;
                    }
                    p{
                      float: left;
                      color: #000;
                      font-size: 17px;
                    }
                    .right-icon{
                      float: right;
                      img{
                        height: 20px;
                        width: 20px;
                      }
                    }
                    &:first-child{
                      border-top: 0;
                    }
                    &.active{
                      img.check-icon{
                        display: block;
                      }
                      p{
                        color: $blue-color;
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
            }

          }
        }
      }
      .tittle-setting{
        box-shadow:0px -10px 20px 0px rgba(181, 173, 173, 0.55) inset;
        border-bottom: 1px solid #b1b1b1;
        text-align: center;
        height: 40px;
        position: relative;
        p{
          line-height: 2.2;
          font-size: 17px;
          font-weight: bold;
          color: #797979;
        }
        .p-edit-setting{
          position: absolute;
          top: 0px;
          right: 25px;
          border-radius: 4px;
          padding: 0px 10px;
          display: none;
        }
        .p-save-setting{
          position: absolute;
          top: 0px;
          right: 25px;
          border-radius: 4px;
          padding: 0px 10px;
          display: none;
        }
        .p-back-setting{
          position: absolute;
          top: 0px;
          left: 25px;
          border-radius: 4px;
          padding: 0px 10px;
          display: none;
          i{
            color: #797979;
            font-size: 16px;
            margin-right: 3px;
          }
        }

      }
      .modal-main-setting{
        position: absolute;
        background-color: #ededed;
        padding: 15px;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        &.modal-setting-device{
          display: none;
          .div-main-background{
            height: 325px;
          }
          .div-device-setting{
            overflow: hidden;
            border-radius: 4px;
            padding: 4px 3px 5px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
            float: left;
            width: 100px;
            height: 95px;
            margin: 5px 15px 5px 1px;
            text-align: center;
            background-color: #fff;
            img{
              width: 40px;
              height: 40px;
            }
            p{
              max-height: 32px;
              font-size: 14px;
              color: #000;
              display: block;
              overflow: auto;
            }
          }
          .div-content-setting-device{
            overflow: auto;
            border-radius: 4px;
            float: left;
            margin-top: 5px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
            width: 420px;
            padding: 10px;
            height: 295px;
            input{
              border: 0;
              font-size: 16px;
              width: 375px;
              padding: 5px 5px;
              outline: none;
              color: #000;
              border-bottom: 2px solid $blue-color;
              margin-bottom: 15px;
            }
            p{
              padding: 5px 0;
              color: #000;
              font-size: 18px;
            }
            .some-icon-device{
              img{
                margin: 8px 11px;
              }
            }
          }
        }
      }
    }
  }
}