@font-face {
  font-family: helveticaneue;
  src: url("../font/helveticaneue.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: helveticaneue;
  color: #fff; }

body {
  height: 100vh;
  overflow: hidden; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000;
  display: block; }

.div-toggle-checkbox {
  height: 26px;
  /* Rounded sliders */ }
  .div-toggle-checkbox .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px; }
  .div-toggle-checkbox .switch input {
    display: none; }
  .div-toggle-checkbox .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  .div-toggle-checkbox .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .div-toggle-checkbox input:checked + .slider {
    background-color: #2196F3; }
  .div-toggle-checkbox input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; }
  .div-toggle-checkbox input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px); }
  .div-toggle-checkbox .slider.round {
    border-radius: 34px; }
  .div-toggle-checkbox .slider.round:before {
    border-radius: 50%; }

.center-align {
  text-align: center; }

.clear-both {
  clear: both; }

header {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 0; }
  header img {
    max-height: 16px;
    width: auto; }
  header .div-wifi {
    position: absolute;
    left: 20px;
    top: 0;
    width: 40px; }
  header .div-battery {
    position: absolute;
    right: 10px;
    top: 0; }
    header .div-battery p {
      float: left;
      margin: 5px 5px 0 0; }
  header .div-time {
    text-align: center;
    width: 100%;
    line-height: 1.6; }

.wrap-content {
  position: relative; }
  .wrap-content .div-background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: -1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; }

.taskbar {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  text-align: center;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden; }
  .taskbar .center-align .div-icon-taskbar {
    width: 110px;
    display: inline-block; }
    .taskbar .center-align .div-icon-taskbar img {
      height: 30px;
      margin-top: 5px; }
  .taskbar .div-blur {
    width: 100%;
    height: 100vh;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    filter: blur(35px); }

.div-control-accesories .div-tittle-control p {
  color: #000;
  display: inline-block;
  width: auto; }

.div-bgc-opa {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none; }

.div-control-tivi {
  position: absolute;
  top: 0;
  left: -100%;
  height: 480px;
  z-index: 3; }
  .div-control-tivi .div-control-number {
    float: left;
    width: 310px;
    height: 478px;
    background-color: #fff;
    border-radius: 10px;
    margin: 1px; }
    .div-control-tivi .div-control-number .div-total-number {
      margin: 40px auto;
      width: 270px;
      height: 400px; }
      .div-control-tivi .div-control-number .div-total-number .div-number {
        border: 1px solid #1f1f1f;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        padding: 14px 20px;
        color: #000;
        float: left;
        margin: 17px;
        font-size: 20px;
        font-weight: bold; }
        .div-control-tivi .div-control-number .div-total-number .div-number.number0 {
          margin-left: 105px; }
  .div-control-tivi .div-control-menu {
    padding: 10px 15px;
    float: left;
    width: 310px;
    height: 478px;
    background-color: #fff;
    border-radius: 10px;
    margin: 1px; }
    .div-control-tivi .div-control-menu .div-tittle-tivi {
      width: 100%;
      padding: 10px 0; }
      .div-control-tivi .div-control-menu .div-tittle-tivi .div-name-tivi {
        float: left; }
        .div-control-tivi .div-control-menu .div-tittle-tivi .div-name-tivi p {
          color: #000;
          font-size: 18px; }
      .div-control-tivi .div-control-menu .div-tittle-tivi .div-on-off-tivi {
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 8px;
        background-color: #df0000; }
        .div-control-tivi .div-control-menu .div-tittle-tivi .div-on-off-tivi i {
          color: #fff;
          font-size: 24px; }
    .div-control-tivi .div-control-menu .div-large-circle {
      width: 200px;
      height: 200px;
      margin: 10px auto;
      border-radius: 50%;
      border: 1px solid #1f1f1f;
      position: relative; }
      .div-control-tivi .div-control-menu .div-large-circle .div-small-circle {
        width: 120px;
        height: 120px;
        margin: 40px auto;
        border-radius: 50%;
        border: 1px solid #1f1f1f; }
      .div-control-tivi .div-control-menu .div-large-circle i {
        padding: 5px;
        color: #000;
        font-size: 18px;
        position: absolute; }
        .div-control-tivi .div-control-menu .div-large-circle i.fa-chevron-up {
          top: 8px;
          left: 44%; }
        .div-control-tivi .div-control-menu .div-large-circle i.fa-chevron-down {
          bottom: 8px;
          left: 44%; }
        .div-control-tivi .div-control-menu .div-large-circle i.fa-chevron-left {
          left: 10px;
          top: 44%; }
        .div-control-tivi .div-control-menu .div-large-circle i.fa-chevron-right {
          right: 10px;
          top: 44%; }
    .div-control-tivi .div-control-menu .div-some-control {
      width: 210px;
      height: 130px;
      margin: 20px auto;
      position: relative; }
      .div-control-tivi .div-control-menu .div-some-control .div-back-control {
        border: 1px solid #1f1f1f;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        padding: 18px 10px;
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0; }
      .div-control-tivi .div-control-menu .div-some-control .div-menu-control {
        border: 1px solid #1f1f1f;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        padding: 18px 8px;
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        left: 0; }
      .div-control-tivi .div-control-menu .div-some-control .div-updown {
        border: 1px solid #1f1f1f;
        width: 55px;
        height: 130px;
        position: absolute;
        border-radius: 60px; }
        .div-control-tivi .div-control-menu .div-some-control .div-updown .div-middle {
          color: #000;
          text-transform: uppercase;
          text-align: center;
          width: 55px;
          position: absolute;
          top: 55px; }
        .div-control-tivi .div-control-menu .div-some-control .div-updown i {
          font-size: 18px;
          color: #000;
          position: absolute;
          width: 55px;
          height: 40px;
          left: -2px;
          text-align: center;
          padding: 10px 0; }
          .div-control-tivi .div-control-menu .div-some-control .div-updown i.fa-chevron-up {
            top: 0; }
          .div-control-tivi .div-control-menu .div-some-control .div-updown i.fa-chevron-down {
            bottom: 0; }
        .div-control-tivi .div-control-menu .div-some-control .div-updown.updown-volume {
          top: 0;
          left: 75px; }
        .div-control-tivi .div-control-menu .div-some-control .div-updown.updown-prog {
          top: 0;
          right: 0; }

.div-control-accesories .tittle-accsesories p {
  color: #808080;
  font-size: 18px;
  font-weight: bold; }
.div-control-accesories .tittle-accsesories .name-acces-control {
  float: left; }
.div-control-accesories .tittle-accsesories .p-close-acces-control {
  float: right; }
.div-control-accesories.div-control-lamp {
  background: #fff;
  position: absolute;
  bottom: -100%;
  left: 0;
  height: auto;
  width: 100%;
  padding: 20px;
  z-index: 3; }
  .div-control-accesories.div-control-lamp .div-name-accesories {
    margin: 15px 0; }
    .div-control-accesories.div-control-lamp .div-name-accesories img {
      margin-right: 10px; }
    .div-control-accesories.div-control-lamp .div-name-accesories p {
      float: left;
      line-height: 1.6;
      font-weight: bold;
      font-size: 19px;
      color: #000; }
    .div-control-accesories.div-control-lamp .div-name-accesories .div-toggle-checkbox {
      float: right;
      margin-top: 5px; }
  .div-control-accesories.div-control-lamp .content-bright-lamp {
    margin-bottom: 10px; }
    .div-control-accesories.div-control-lamp .content-bright-lamp input[type=range] {
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 75%;
      float: left;
      margin: 20px 0 10px 15px; }
      .div-control-accesories.div-control-lamp .content-bright-lamp input[type=range]:focus {
        outline: none; }
      .div-control-accesories.div-control-lamp .content-bright-lamp input[type=range]::-webkit-slider-runnable-track {
        animate: 0.2s;
        width: 100%;
        height: 1px;
        background-color: #ccc; }
      .div-control-accesories.div-control-lamp .content-bright-lamp input[type=range]::-webkit-slider-thumb {
        border: 1px solid #ccc;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -15px; }
      .div-control-accesories.div-control-lamp .content-bright-lamp input[type=range]::-moz-range-track {
        width: 100%;
        height: 1px;
        background-color: #ccc; }
      .div-control-accesories.div-control-lamp .content-bright-lamp input[type=range]::-moz-range-thumb {
        border: 1px solid #ccc;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -15px; }
    .div-control-accesories.div-control-lamp .content-bright-lamp .div-percent-bright {
      float: right;
      color: #333;
      font-size: 16px;
      margin-top: 5px; }

.wrap-content.wrap-content-home {
  padding: 0 25px; }
  .wrap-content.wrap-content-home .div-welcom-home {
    max-width: 470px;
    height: auto;
    margin-top: 45px; }
    .wrap-content.wrap-content-home .div-welcom-home .h3-welcom {
      font-size: 30px;
      margin-bottom: 10px; }
    .wrap-content.wrap-content-home .div-welcom-home p {
      font-size: 15px; }
      .wrap-content.wrap-content-home .div-welcom-home p.p-tittle {
        margin-bottom: 5px; }
  .wrap-content.wrap-content-home .div-the-weather {
    position: absolute;
    top: 20px;
    right: 25px; }
    .wrap-content.wrap-content-home .div-the-weather .deg-current {
      float: left;
      font-size: 60px;
      padding: 20px 5px 0 0; }
    .wrap-content.wrap-content-home .div-the-weather .div-img-weather {
      float: left;
      margin: 0 25px 0 0; }
      .wrap-content.wrap-content-home .div-the-weather .div-img-weather img {
        height: 120px;
        width: auto; }
    .wrap-content.wrap-content-home .div-the-weather .deg-low-hight {
      padding: 28px 0 0 0;
      float: left; }
      .wrap-content.wrap-content-home .div-the-weather .deg-low-hight p {
        font-size: 26px; }
      .wrap-content.wrap-content-home .div-the-weather .deg-low-hight span {
        font-size: 18px; }
  .wrap-content.wrap-content-home .div-control-conditition {
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: 15px;
    right: 25px; }
    .wrap-content.wrap-content-home .div-control-conditition .div-per-1 {
      width: 280px;
      margin: 0 auto;
      position: absolute; }
    .wrap-content.wrap-content-home .div-control-conditition .div-per-2 {
      width: 280px;
      position: absolute;
      top: 0; }
    .wrap-content.wrap-content-home .div-control-conditition .div-circle-point {
      width: 230px;
      height: 230px;
      border-radius: 50%;
      position: absolute;
      left: 25px;
      top: 5px;
      transform: rotate(0deg); }
      .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .reg-point {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30px;
        margin-top: -15px;
        width: 50%;
        transform-origin: left center;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center; }
        .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .reg-point .the-point {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #fff;
          margin: 0 3px 0 auto;
          cursor: move; }
      .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .info-condition {
        text-align: center;
        padding-top: 40px; }
        .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .info-condition p {
          font-size: 15px;
          margin-top: 5px; }
          .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .info-condition p.p-room {
            font-size: 17px;
            font-weight: bold; }
        .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .info-condition .h4-deg-condition {
          font-size: 40px;
          padding-left: 5px; }
        .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .info-condition .div-line {
          margin: 5px auto 0;
          width: 70px;
          background-color: #fff;
          height: 2px; }
        .wrap-content.wrap-content-home .div-control-conditition .div-circle-point .info-condition img {
          text-align: center;
          width: 50px;
          height: auto;
          margin-top: 5px; }
  .wrap-content.wrap-content-home .div-favorite-scences {
    margin-top: 15px;
    max-width: 335px; }
    .wrap-content.wrap-content-home .div-favorite-scences h4 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px; }
    .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences {
      white-space: nowrap;
      overflow: auto; }
      .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences {
        display: inline-block;
        text-align: center;
        width: 80px; }
        .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences img {
          width: 50px;
          height: 50px; }
          .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences img.off {
            display: inline-block; }
          .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences img.on {
            display: none; }
        .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences p {
          margin-top: 3px;
          white-space: normal;
          width: 80px;
          height: 18px;
          overflow: hidden; }
        .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences.active img.on {
          display: inline-block; }
        .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences.active img.off {
          display: none; }
        .wrap-content.wrap-content-home .div-favorite-scences .div-content-item-scences .some-item-scences.active p {
          color: #ff863a; }
  .wrap-content.wrap-content-home .div-favorite-accessories {
    margin-top: 15px;
    height: auto; }
    .wrap-content.wrap-content-home .div-favorite-accessories h4 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px; }
    .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories {
      white-space: nowrap;
      width: 395px;
      height: auto;
      overflow: auto; }
      .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories {
        margin-right: 5px;
        display: inline-block;
        width: 90px;
        height: 90px;
        background-color: rgba(72, 73, 73, 0.6);
        border-radius: 6px;
        text-align: center;
        padding: 5px 0 0 0; }
        .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories img {
          width: auto;
          height: 40px;
          margin: 0 auto; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories img.on {
            display: none; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories img.off {
            display: block; }
        .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories p {
          margin-bottom: 3px;
          padding: 0 5px;
          font-weight: bold; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories p.p-off {
            display: block;
            color: #343434; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories p.p-on {
            display: none;
            color: #1393ff; }
        .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories h6 {
          font-size: 15px;
          color: #343434; }
        .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories.active {
          background-color: #fff; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories.active img.off {
            display: none; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories.active img.on {
            display: block; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories.active p.p-off {
            display: none; }
          .wrap-content.wrap-content-home .div-favorite-accessories .div-content-item-accessories .item-accessories.active p.p-on {
            display: block; }

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
  transform: rotate(225deg); }

.circle {
  stroke: #6b6b6b;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round; }
  .circle.circle-2 {
    stroke: #3dbcff; }

.wrap-content .div-backgroud-room {
  width: 100%;
  height: 410px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1; }
.wrap-content .div-content-room {
  display: block;
  width: 100%;
  height: 410px;
  margin-top: 30px;
  overflow: hidden; }
  .wrap-content .div-content-room .div-empty-room {
    padding-top: 70px;
    margin: 0 auto;
    width: 500px;
    height: 100%;
    text-align: center; }
    .wrap-content .div-content-room .div-empty-room p {
      font-size: 24px;
      margin: 10px 0; }
    .wrap-content .div-content-room .div-empty-room img {
      height: 150px;
      width: auto; }
    .wrap-content .div-content-room .div-empty-room a {
      display: inline-block; }
      .wrap-content .div-content-room .div-empty-room a i {
        font-size: 23px;
        margin: 0 7px; }
  .wrap-content .div-content-room .div-title-room-config {
    width: 100%;
    height: 40px;
    position: relative;
    text-align: center; }
    .wrap-content .div-content-room .div-title-room-config p {
      font-size: 28px;
      line-height: 1.8; }
    .wrap-content .div-content-room .div-title-room-config .tittle-left {
      position: absolute;
      top: 5px;
      left: 30px; }
      .wrap-content .div-content-room .div-title-room-config .tittle-left img {
        width: 35px;
        height: 35px; }
    .wrap-content .div-content-room .div-title-room-config .tittle-right {
      position: absolute;
      top: 5px;
      right: 30px; }
      .wrap-content .div-content-room .div-title-room-config .tittle-right img {
        width: 35px;
        height: 35px; }
  .wrap-content .div-content-room .div-some-room {
    height: 350px;
    overflow: auto;
    margin-top: 5px;
    padding: 0 25px; }
    .wrap-content .div-content-room .div-some-room .item-room {
      padding-top: 10px;
      width: 130px;
      height: 130px;
      background-color: #fff;
      border-radius: 10px;
      float: left;
      margin: 10px;
      text-align: center; }
      .wrap-content .div-content-room .div-some-room .item-room img {
        width: 75px;
        height: auto; }
      .wrap-content .div-content-room .div-some-room .item-room p {
        color: #000;
        margin-top: 5px;
        font-size: 16px;
        font-weight: bold;
        padding: 0 5px; }
  .wrap-content .div-content-room .div-room-config {
    padding: 0 25px;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .wrap-content .div-content-room .div-room-config .config-left {
      color: #000;
      padding: 15px;
      margin-top: 10px;
      float: left;
      width: 190px;
      height: 330px;
      background-color: #fff;
      border-radius: 10px;
      text-align: center; }
      .wrap-content .div-content-room .div-room-config .config-left input[type='text'] {
        border: 0;
        outline: none;
        border-bottom: 2px solid #356ad7;
        padding: 5px;
        width: 100%;
        color: #000;
        font-size: 17px; }
      .wrap-content .div-content-room .div-room-config .config-left img {
        width: 120px;
        height: auto;
        margin: 50px 0; }
      .wrap-content .div-content-room .div-room-config .config-left i {
        padding: 10px;
        color: #515151;
        font-size: 18px; }
    .wrap-content .div-content-room .div-room-config .config-right {
      overflow: auto;
      padding: 15px;
      margin-top: 10px;
      margin-left: 15px;
      float: left;
      width: 545px;
      height: 330px;
      background-color: #fff;
      border-radius: 10px;
      color: #000; }
      .wrap-content .div-content-room .div-room-config .config-right .div-equipment-scences {
        height: auto; }
        .wrap-content .div-content-room .div-room-config .config-right .div-equipment-scences p {
          color: #000;
          font-size: 20px; }
        .wrap-content .div-content-room .div-room-config .config-right .div-equipment-scences .div-equipment {
          padding: 0 10px 10px;
          float: left;
          margin-right: 70px; }
          .wrap-content .div-content-room .div-room-config .config-right .div-equipment-scences .div-equipment.active {
            border-bottom: 2px solid #00b6f4; }
            .wrap-content .div-content-room .div-room-config .config-right .div-equipment-scences .div-equipment.active p {
              color: #00b6f4; }
        .wrap-content .div-content-room .div-room-config .config-right .div-equipment-scences .div-scences {
          padding: 0 10px 10px;
          float: left; }
          .wrap-content .div-content-room .div-room-config .config-right .div-equipment-scences .div-scences.active {
            border-bottom: 2px solid #00b6f4; }
            .wrap-content .div-content-room .div-room-config .config-right .div-equipment-scences .div-scences.active p {
              color: #00b6f4; }
        .wrap-content .div-content-room .div-room-config .config-right .div-equipment-scences .div-icon-plus {
          float: right;
          text-align: right; }
          .wrap-content .div-content-room .div-room-config .config-right .div-equipment-scences .div-icon-plus a.a-scences {
            display: none; }
          .wrap-content .div-content-room .div-room-config .config-right .div-equipment-scences .div-icon-plus a i {
            color: #00b6f4;
            font-size: 28px; }
      .wrap-content .div-content-room .div-room-config .config-right .content-config-right {
        color: #000; }
        .wrap-content .div-content-room .div-room-config .config-right .content-config-right .no-item {
          margin: 40px 50px;
          font-size: 30px; }
        .wrap-content .div-content-room .div-room-config .config-right .content-config-right .div-delete p {
          float: right;
          margin-top: 10px;
          font-size: 25px;
          border-radius: 5px;
          padding: 5px 15px;
          background-color: rgba(113, 105, 105, 0.1);
          color: #c10808; }
        .wrap-content .div-content-room .div-room-config .config-right .content-config-right p {
          color: #000; }
        .wrap-content .div-content-room .div-room-config .config-right .content-config-right .content-equipment ul .p-tittle {
          font-size: 20px;
          margin: 10px 0; }
        .wrap-content .div-content-room .div-room-config .config-right .content-config-right .content-equipment ul li {
          text-align: center;
          margin-right: 5px;
          margin-bottom: 5px;
          display: inline-block;
          width: 120px;
          overflow: hidden;
          border-radius: 4px;
          padding: 3px 3px 5px;
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2); }
          .wrap-content .div-content-room .div-room-config .config-right .content-config-right .content-equipment ul li p {
            font-size: 16px; }
          .wrap-content .div-content-room .div-room-config .config-right .content-config-right .content-equipment ul li img {
            width: 45px;
            height: 45px; }
        .wrap-content .div-content-room .div-room-config .config-right .content-config-right .content-scences {
          display: none; }
          .wrap-content .div-content-room .div-room-config .config-right .content-config-right .content-scences ul {
            margin-top: 10px; }
            .wrap-content .div-content-room .div-room-config .config-right .content-config-right .content-scences ul li {
              display: inline-block;
              margin: 7px 5px;
              width: 155px; }
              .wrap-content .div-content-room .div-room-config .config-right .content-config-right .content-scences ul li img {
                float: left;
                width: 50px;
                height: 50px; }
              .wrap-content .div-content-room .div-room-config .config-right .content-config-right .content-scences ul li p {
                float: left;
                overflow: hidden;
                width: 100px;
                padding: 3px;
                font-size: 15px;
                max-height: 38px;
                margin: 5px 0 0 5px; }
    .wrap-content .div-content-room .div-room-config .change-icon-right {
      position: relative;
      padding: 15px;
      margin-top: 15px;
      margin-left: 15px;
      float: left;
      width: 545px;
      height: 320px;
      background-color: #fff;
      border-radius: 10px;
      color: #000;
      display: none; }
      .wrap-content .div-content-room .div-room-config .change-icon-right .tittle-change-icon-right p {
        border-bottom: 2px solid #00b6f4;
        padding: 0 5px 5px;
        color: #000;
        font-size: 20px; }
      .wrap-content .div-content-room .div-room-config .change-icon-right .div-some-icon-room {
        height: 230px;
        overflow: auto; }
        .wrap-content .div-content-room .div-room-config .change-icon-right .div-some-icon-room img {
          width: 70px;
          height: 70px;
          margin: 15px 25px;
          display: inline-block; }
      .wrap-content .div-content-room .div-room-config .change-icon-right .div-config-icon {
        width: 100%;
        border-top: 2px solid #00b6f4;
        text-align: right; }
        .wrap-content .div-content-room .div-room-config .change-icon-right .div-config-icon p {
          color: #356ad7;
          width: auto;
          padding: 9px 10px;
          display: inline-block;
          font-size: 20px;
          font-weight: bold; }

.wrap-content .div-list-group {
  overflow: auto;
  margin-top: 5px;
  width: 100%;
  height: 345px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 15px 0; }
  .wrap-content .div-list-group .item-ul .p-tittle-group {
    font-size: 22px;
    color: #000;
    padding: 10px 0 15px; }
    .wrap-content .div-list-group .item-ul .p-tittle-group i {
      font-size: 18px;
      color: #000; }
      .wrap-content .div-list-group .item-ul .p-tittle-group i.fa-chevron-down {
        display: none; }
  .wrap-content .div-list-group .item-ul ul {
    display: none;
    margin-top: -5px;
    margin-bottom: 20px; }
    .wrap-content .div-list-group .item-ul ul p {
      color: #000; }
    .wrap-content .div-list-group .item-ul ul li {
      text-align: center;
      margin: 5px 10px 5px;
      display: inline-block;
      width: 120px;
      overflow: hidden;
      border-radius: 4px;
      padding: 3px 3px 5px;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2); }
      .wrap-content .div-list-group .item-ul ul li p {
        font-size: 16px; }
      .wrap-content .div-list-group .item-ul ul li img {
        width: 45px;
        height: 45px; }

.wrap-content .content-setting {
  width: 100%;
  height: 410px;
  margin-top: 30px; }
  .wrap-content .content-setting .the-setting {
    height: 410px;
    float: left;
    background-color: #ededed;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px; }
    .wrap-content .content-setting .the-setting.setting-left {
      width: 30%;
      border-right: 0.5px solid #343434; }
      .wrap-content .content-setting .the-setting.setting-left ul {
        overflow: auto;
        height: 370px;
        padding-bottom: 1px; }
        .wrap-content .content-setting .the-setting.setting-left ul li {
          padding: 7px; }
          .wrap-content .content-setting .the-setting.setting-left ul li img {
            width: 32px;
            height: 32px;
            float: left; }
          .wrap-content .content-setting .the-setting.setting-left ul li p {
            float: left;
            max-width: 155px;
            margin: 5px 0 5px 10px;
            color: #000;
            font-weight: bold;
            font-size: 15px;
            max-height: 20px;
            overflow: hidden; }
          .wrap-content .content-setting .the-setting.setting-left ul li.active {
            background-color: #059bff; }
            .wrap-content .content-setting .the-setting.setting-left ul li.active p {
              color: #fff; }
    .wrap-content .content-setting .the-setting.setting-right {
      width: 70%; }
      .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item {
        padding: 25px;
        display: none; }
        .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item p.p-main-right {
          font-size: 16px;
          font-weight: bold;
          color: #3a3a3a; }
        .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .div-main-background {
          border-radius: 8px;
          background-color: #fff;
          width: 100%;
          padding: 10px 15px;
          border: 1px solid #ccc; }
        .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item.active {
          display: block; }
        .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .item-wifi-setting .div-on-off-wifi {
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          background-color: #fff;
          width: 100%;
          padding: 10px 15px;
          border: 1px solid #ccc; }
          .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .item-wifi-setting .div-on-off-wifi p {
            color: #000;
            float: left;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.6; }
          .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .item-wifi-setting .div-on-off-wifi .div-toggle-checkbox {
            float: right; }
        .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .item-wifi-setting .div-choose-network > p {
          margin: 15px 10px 10px; }
        .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .item-wifi-setting .div-choose-network ul {
          height: auto;
          background: #fff;
          border-radius: 8px;
          border: 1px solid #ccc; }
          .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .item-wifi-setting .div-choose-network ul li.item-network {
            position: relative;
            padding: 10px 20px 10px 25px;
            border-top: 1px solid #999999; }
            .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .item-wifi-setting .div-choose-network ul li.item-network img.check-icon {
              position: absolute;
              top: 11px;
              left: 7px;
              width: 16px;
              height: 16px;
              display: none; }
            .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .item-wifi-setting .div-choose-network ul li.item-network p {
              float: left;
              color: #000;
              font-size: 17px; }
            .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .item-wifi-setting .div-choose-network ul li.item-network .right-icon {
              float: right; }
              .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .item-wifi-setting .div-choose-network ul li.item-network .right-icon img {
                height: 20px;
                width: 20px; }
            .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .item-wifi-setting .div-choose-network ul li.item-network:first-child {
              border-top: 0; }
            .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .item-wifi-setting .div-choose-network ul li.item-network.active img.check-icon {
              display: block; }
            .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .item-wifi-setting .div-choose-network ul li.item-network.active p {
              color: #356ad7;
              font-weight: bold; }
        .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .setting-list-group {
          margin: 10px 0 0; }
          .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .setting-list-group .item-group {
            margin-right: -10px; }
            .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .setting-list-group .item-group p.p-title-group {
              font-size: 16px;
              color: #000;
              font-weight: bold; }
              .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .setting-list-group .item-group p.p-title-group i {
                color: #000; }
                .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .setting-list-group .item-group p.p-title-group i.fa-chevron-down {
                  display: none; }
            .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .setting-list-group .item-group ul li {
              overflow: hidden;
              border-radius: 4px;
              padding: 3px 3px 5px;
              box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
              display: inline-block;
              width: 150px;
              margin: 5px 10px 5px 0; }
              .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .setting-list-group .item-group ul li img {
                width: 40px;
                height: 40px;
                float: left; }
              .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .setting-list-group .item-group ul li p {
                height: 20px;
                font-size: 14px;
                color: #000;
                margin-left: 15px;
                display: block;
                max-height: 32px;
                overflow: hidden; }
              .wrap-content .content-setting .the-setting.setting-right .div-content-setting-right .div-item .setting-list-group .item-group ul li:first-child {
                border: 0; }
    .wrap-content .content-setting .the-setting .tittle-setting {
      box-shadow: 0px -10px 20px 0px rgba(181, 173, 173, 0.55) inset;
      border-bottom: 1px solid #b1b1b1;
      text-align: center;
      height: 40px; }
      .wrap-content .content-setting .the-setting .tittle-setting p {
        line-height: 2.2;
        font-size: 17px;
        font-weight: bold;
        color: #797979; }

/*# sourceMappingURL=style.css.map */
